<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>XOXZO DIN Action</title>
</head>
<body>
<h1 style="text-align: center">XOXZO DIN Action</h1>
<br>
<form action="{% url 'select_action' %}" method="post">
  {% if actions %}
    <select name="action_id">

      {% for action in actions %}
        {%  if forloop.counter0 == selected_id %}
          <option value="{{action.id}}" selected><h2>{{action.action_text}}</h2></option>
        {% else %}
          <option value="{{action.id}}"><h2>{{action.action_text}}</h2></option>
        {%  endif %}
      {% endfor %}

    </select>
  {% else %}
    <p>No Actions are available.</p>
  {% endif %}
  <input type="submit" value="Set" />
  {% csrf_token %}
</form>
</body>
</html>