<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>XOXZO DIN Action</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'din_action/style.css' %}" />
</head>
<body>
<h1 style="text-align: center">XOXZO DIN Action</h1>
<br>
<form action="{% url 'select_action' %}" method="post" style="text-align: center">
  {% if actions %}
    <select name="action_id" style="font-size: x-large">
      {% for action in actions %}
        {%  if forloop.counter0 == selected_id %}
          <option value="{{action.id}}" selected>{{action.action_text}}</option>
        {% else %}
          <option value="{{action.id}}">{{action.action_text}}</option>
        {%  endif %}
      {% endfor %}

    </select>
  {% else %}
    <p>No Actions are available.</p>
  {% endif %}
  <input type="submit" value="Set" style="border-style: groove; font-size: x-large;"/>
  {% csrf_token %}
</form>
</body>
</html>